/*
 * @description : css reset
 * @author   : koojohn(郭钊)
 * @date     : 2016-08-22
 * PC端基础样式
 */
body,p,ul,ol,dl,dd,input,button,textarea{margin:0;padding:0}body{font-size:63%;box-sizing:border-box}a{text-decoration:none}img{vertical-align:middle;border:none;-ms-interpolation-mode:bicubic}i,em,dfn{font-style:normal}b,strong{font-weight:normal}ul,ol{list-style:none}input,button,textarea{outline:none;border:1px solid #ccc;background-color:transparent;box-sizing:border-box}button{cursor:pointer}button:focus{border:1px solid #ccc;outline:none;opacity:.6;filter:alpha(opacity=60)}table{border-collapse:collapse;border-spacing:0}textarea{resize:none}input::-ms-clear{display:none}.l{float:left}.r{float:right}.ellipsis{white-space:nowrap;text-overflow:ellipsis;overflow:hidden}.break{word-break:break-all;word-wrap:break-word}@font-face{font-family:'NeuesBauenDemo';src:url(../fonts/glyphicons-halflings-regular.eot);src:url(../fonts/glyphicons-halflings-regular.eot?#iefix) format('embedded-opentype'),url(../fonts/glyphicons-halflings-regular.woff) format('woff'),url(../fonts/glyphicons-halflings-regular.ttf) format('truetype'),url(../fonts/glyphicons-halflings-regular.svg#NeuesBauenDemo) format('svg');font-weight:normal;font-style:normal}



